<% if @comments.length.to_i > 0 %>

	<% @comments.each do |comment| %>
		<p><%= comment.content %>
			<br/>
			-- <%= comment.user.email %>
		</p>
	<% end %>

<% else %>	

	<p>No comments yet</p>

<% end%>

