

<ul class="topic-list">

<% @topics.each do |topic| %>
  
  
<li>
	<span class="topic"><%= topic.title %></span>
	<span class="topic-questions"><%= topic.questions %></span>
	<span class="topic-actions">
			<%= link_to "Complete",  :controller=>"entries", :action=>"complete", :topic=> topic.id %>
		</span>
<% end %>  

</ul>