body {
  background-color:#01244C;
  background-image:url(https://becomingirish.nd.edu/images/login/blue-backing.png);
  background-position:initial initial;
  background-repeat:repeat no-repeat;
  color:#FFFFFF;
  font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  line-height:1.4em;
	padding:0px;
		margin:0px;
}

div.flash{padding:0px; margin:0px 0px 10px 0px; background-color:#986200; text-align:center; border-bottom:thin solid #000}
div.flash>div.msg{padding:10px; color:#fff}

p.description{}
p.status{color:#ccc; font-style:italic}

.header{float:left;width:100%; border-bottom:2px solid #fff}
	.header-text{font-size:1.4em; font-wieght:bold; float:left}
	.header-date{font-size:1em; font-style:italic; font-wieght:bold; margin-left:10px; float:right }	
	
	.content {
	 	border-left-color:#eee;
	  border-left-style:solid;
	  border-left-width:thin;
	  float:left;
	  margin-left:50px;
	  padding:0 0 0 10px;
	  width:95%;
	}

.content>.main{float:left;width:80%}
	
.footer{float:left;width:100%; border-top:thin solid #f2f2f2; text-align:center; margin-top:10px}
	.footer-text{}		
		
		
table{border:1px solid #ccc; width:80% }
table td{border:none; text-align:left;padding:3px}
table th{border:none; text-align:left; font-weight:bold; background-color:#336699; color:#f2f2f2 }		

a{color:#FFF}		
a:visited{color:#CCC}		


/* FORMS */
/********************/

p.form-row{float:left; width:100%; margin-bottom:6px;}
p.form-row-submit{float:left; margin-left:160px}

label {
	  float:left;
	  font-size:1em;
	  font-weight:bold;
	  margin-right:10px;
	  text-align:right;
	  width:150px;
	  }

input,select,textarea{font-size:1em; background-color:#f2f2f2;}

input{padding:4px}
select{padding:10px; margin:2px;}

textarea {
  background-color:#EEEEEE;
  font-size:0.7em;
  padding:10px;
  width:96%;
}




.field{float:left; width:100%; margin-bottom:10px}


/**************************************/

.top-menu{;float:right; width:90%; text-align:right}

h1{}
h2{}
h3{}

p{padding:0px; margin:0px}

li h3{margin-bottom:0px}

ul.topic-list{}
	ul.topic-list > li{float:left; width:100%; list-style:none; margin-bottom:20px; border-bottom:thin solid #000066; padding:10px}
		ul.topic-list > li span.topic{float:left; width:100%}
		ul.topic-list > li span.topic-questions{float:left; width:100%}
		ul.topic-list > li span.action{float:left; width:100%}
		
		
		
		
		.panels{float:left; width:100%}
		.panels>.main{width:65%; float:left}
		.panels>.side{width:30%; float:right; border:thin solid #ccc; background-color:#f2f2f2; color:#000000; margin:1%}
		.panels>.side a{color:#cc0000}
		.panels>.side a:visited{color:#cc0099}	


			ul.entry-list{padding:5px; list-style:none}
				ul.entry-list li{}
			ul.topic-list{padding:5px; list-style:none}
				ul.topic-list li{}		